    nav{
        background-color: white;
        /* box-shadow: 3px 3px 5px solid black; */
        align-items:center;
        display: flex;
        
    }
    nav ul{
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: right;
        align-items: center;
        font-size: x-large;
        height: 1vh;
    }
    nav li{
        height: 50px;
    }
    nav a{
        height: 100%;
        padding: 0 30px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: black;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    nav a:hover{
        background-color: gold;
    }
    #logos{
        height: 3rem;
        align-items: center;
    }
    .carousel-caption{
        top: 200px;
        padding-left: 100px;
        padding-right: 100px;
        color: gold;
        background-color: rgba(0,0,0, 0.2);
       
    }
    .carousel-caption p, .carousel-caption ul{
        background-color: rgba(0,0,0, 0.3);
        text-shadow: 0 0 2px black;
        font-weight: bolder;
    }
    .carousel-caption li{
text-align: justify;
    }
   #foot{
            background-image: url(../photos/footi.png);
            display: flex;
    background-size:contain;
    background-repeat:repeat-x;
    height: 3rem;
    }
    .carousel-item img{
        height: 60vw;
        object-fit: cover;
    }
   #toggle{
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 999;
   }
   #howdy{
    background-color: lightskyblue;
    color: black;
    font-style: italic;
   }